<h1>Short URLS List</h1>
<table>
  <% @urls.each do |url| %>
    <tr>
      <td><%= link_to "#{url.slug}", "/url/#{url.slug}" %></td>
    </tr>
  <% end %>  
</table>

<br/>
<%= button_to "Create a Short URL" , "/new", method: :get %>